*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

li{
    list-style-type: none;
}

body{
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
    background-color: black;

}

.containerHeader{
    font-size: 24px;
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    
}

.containerHeader nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containerHeader img{
    max-width:5%;
}