*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

li{
    list-style-type: none;
}

body{
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
    background-color: black;
}

.containerHeader{
  position: fixed;
  left: 0%;
  right: 0;
    font-size: 24px;
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    
}

.containerHeader nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containerHeader img{
    max-width:5%;
}

.text-rotate {
  display: flex;
  flex-wrap: wrap;
  white-space: pre-wrap;
  position: relative;
}

.text-rotate-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.text-rotate-word {
  display: inline-flex;
}

.text-rotate-lines {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text-rotate-element {
  display: inline-block;
}

.text-rotate-space {
  white-space: pre;
}

.containerHome {
  font-weight: 800;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  color: black;
}

.containerHome h1{
    font-size: 50px;
    margin: 0 30px 0 0;
    color: white;
}

.containerAnim{
  background-color: blue;
  padding: 20px;
  border-radius: 0px 30px 30px 0;
  width: 400px;
}